In [50]:
import numpy as np
import pandas as pd

# Getting the data
pop_census= pd.read_csv("../datasets/US_Census_Population_2022.csv")
pop_census = pop_census.iloc[2:]
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,1400000US48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,1400000US48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,1400000US48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,1400000US48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,1400000US48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [51]:
def clear_geoid_metadata(census_data):
    return census_data.GEO_ID.map(lambda id : id[9:])

In [52]:
# Getting rid of metadata in front of the 11-digit GEOID
parsed_geoids = clear_geoid_metadata(pop_census)
print(parsed_geoids)

2       48201100001
3       48201210400
4       48201210500
5       48201210600
6       48201210700
           ...
1112    48201980100
1113    48201980200
1114    48201980300
1115    48201980400
1116    48201980700
Name: GEO_ID, Length: 1115, dtype: object

In [53]:
# Update Dataframe
pop_census.GEO_ID = parsed_geoids
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [62]:
# Relevant Population Columns : TOTAL POPULATION
POPULATION_COLUMNS = ["DP05_0001E"]
id_and_pop = pop_census[["GEO_ID"] + POPULATION_COLUMNS]
id_and_pop.head()

        GEO_ID DP05_0001E
2  48201100001       5256
3  48201210400       3983
4  48201210500       4711
5  48201210600       5821
6  48201210700       2534

In [55]:
# getting the poverty data
pov_census = pd.read_csv("../datasets/US_Census_Poverty_2022.csv")
pov_census = pov_census.iloc[2:]
pov_census.GEO_ID = clear_geoid_metadata(pov_census)
pov_census.head()

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,...,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
2,48201100001,Census Tract 1000.01; Harris County; Texas,4425,527,53,49,18,28,35,42,...,(X),4.9,5.4,33.8,24.3,81.8,12.7,7.8,4.1,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,840,434,100,89,740,386,...,(X),0.0,11.5,50.8,24.6,84.9,14.7,18.7,10.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4692,666,982,367,318,160,664,282,...,(X),0.0,16.1,23.1,30.9,85.7,9.5,22.1,9.0,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,1488,554,379,315,1109,499,...,(X),6.1,10.0,0.0,31.4,39.0,30.2,4.2,2.4,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2522,476,538,202,15,18,523,203,...,(X),0.0,19.9,24.6,35.7,74.1,24.5,19.4,8.1,NaN

In [59]:
POVERTY_COLUMNS = ["S1701_C01_001E"]
pov_frame = pd.DataFrame(pov_census[POVERTY_COLUMNS], columns=POVERTY_COLUMNS)
coa_dataset = pd.concat([id_and_pop, pov_frame], axis=1)
coa_dataset.head()

        GEO_ID DP05_0001E S1701_C01_001E
2  48201100001       5256           4425
3  48201210400       3983           3983
4  48201210500       4711           4692
5  48201210600       5821           5821
6  48201210700       2534           2522

In [80]:
# Getting our zipcode & wastewater data
wastewater_data = pd.read_csv("../datasets/UGS_Houston_Wastewater_Data.csv")
wastewater_data.head()

       Date  Zipcode  Viral Load  Positivity Rate  Unvaccinated Rate
0  07/06/20      NaN         100           0.2788                NaN
1  07/13/20      NaN          75           0.2599                NaN
2  07/20/20      NaN          54           0.2359                NaN
3  08/03/20      NaN          33           0.1868                NaN
4  08/10/20      NaN          29           0.1659                NaN

In [87]:
FIRST_ZIP_ROW = 14
ww_data = wastewater_data.iloc[FIRST_ZIP_ROW:, 1:]
ww_data["Zipcode"] = ww_data["Zipcode"].astype(int)
ww_data.head()

    Zipcode  Viral Load  Positivity Rate  Unvaccinated Rate
14    77004          75              3.0               40.0
15    77005          45             29.0               13.0
16    77006          50             24.0               15.0
17    77007         102              6.0                9.0
18    77008         145             32.0               20.0

In [199]:
import json

# Extracting relevant data from json file
COLLECTIONS_FILE_PATH = "../collections.json"
collections_obj = None
with open(COLLECTIONS_FILE_PATH, 'r') as myfile:
    collections_obj = json.loads(myfile.read())

# JSON Data
USPS_TOKEN = collections_obj["token"]
BASE_URL = collections_obj["base-url"]
BASE_URL_DOMAIN = BASE_URL[8:23]
BASE_URL_PATH = BASE_URL[23:]
ZIP_TO_TRACT_TYPE = collections_obj["zip-to-tract-type"]
TRACT_TO_ZIP_TYPE = collections_obj["tract-to-zip-type"]

In [200]:
import http.client

conn = http.client.HTTPSConnection(BASE_URL_DOMAIN)
payload = {}
header = {'Authorization' : "Bearer " + USPS_TOKEN}

print(BASE_URL_PATH + "?" + ZIP_TO_TRACT_TYPE + "&query=" + str(ww_data["Zipcode"].iloc[0]))
conn.request("GET", BASE_URL_PATH + "?" + ZIP_TO_TRACT_TYPE + "&query=" + str(ww_data["Zipcode"].iloc[0]), payload, header)
result = conn.getresponse()
req_data = result.read()

to_json = json.loads(req_data.decode("utf-8"))
conn.close()

/hudapi/public/usps?type=1&query=77004

In [201]:
print(to_json.keys())
json_data_results = to_json["data"]["results"]

for obj in json_data_results:
    print(obj)

dict_keys(['data'])
{'zip': '77004', 'geoid': '48201312603', 'res_ratio': 0.10522832561217736, 'bus_ratio': 0.12002275312855518, 'oth_ratio': 0.11893071467539552, 'tot_ratio': 0.10729440290967872, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312601', 'res_ratio': 0.1027228892880779, 'bus_ratio': 0.149032992036405, 'oth_ratio': 0.05564648117839607, 'tot_ratio': 0.10252576278035967, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201313000', 'res_ratio': 0.07639217169329678, 'bus_ratio': 0.06427758816837315, 'oth_ratio': 0.15711947626841244, 'tot_ratio': 0.08151141644776723, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312000', 'res_ratio': 0.09095206580315779, 'bus_ratio': 0.02901023890784983, 'oth_ratio': 0.012002182214948172, 'tot_ratio': 0.08070317235805213, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312400', 'res_ratio': 0.07161766096246573, 'bus_ratio': 0.11035267349260523, 'oth_ratio': 0.10801963993453355, 'tot_ratio': 0.07706607395433421, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312602', 'res_ratio': 0.0793230594686584, 'bus_ratio': 0.05631399317406143, 'oth_ratio': 0.06710310965630115, 'tot_ratio': 0.07678318852293392, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312200', 'res_ratio': 0.07029403422520564, 'bus_ratio': 0.05233219567690557, 'oth_ratio': 0.11893071467539552, 'tot_ratio': 0.07262073146090119, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312300', 'res_ratio': 0.06797768743500048, 'bus_ratio': 0.059726962457337884, 'oth_ratio': 0.07746863066012002, 'tot_ratio': 0.06809456455849666, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312700', 'res_ratio': 0.06353408338848444, 'bus_ratio': 0.0676905574516496, 'oth_ratio': 0.09165302782324058, 'tot_ratio': 0.06591230551626591, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312502', 'res_ratio': 0.05313415902429801, 'bus_ratio': 0.15130830489192265, 'oth_ratio': 0.08183306055646482, 'tot_ratio': 0.06223479490806223, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312902', 'res_ratio': 0.06178500519996218, 'bus_ratio': 0.008532423208191127, 'oth_ratio': 0.03273322422258593, 'tot_ratio': 0.055849666599312994, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312501', 'res_ratio': 0.05384324477640163, 'bus_ratio': 0.08646188850967008, 'oth_ratio': 0.03218767048554282, 'tot_ratio': 0.05455647605576884, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312800', 'res_ratio': 0.053228703791245155, 'bus_ratio': 0.02218430034129693, 'oth_ratio': 0.019094380796508457, 'tot_ratio': 0.04849464538290564, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201312901', 'res_ratio': 0.04372695471305663, 'bus_ratio': 0.01422070534698521, 'oth_ratio': 0.02564102564102564, 'tot_ratio': 0.04029096787229743, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201313102', 'res_ratio': 0.005767230783776118, 'bus_ratio': 0.004550625711035267, 'oth_ratio': 0.0010911074740861974, 'tot_ratio': 0.00533441099211962, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201980400', 'res_ratio': 9.454476694714947e-05, 'bus_ratio': 0.0022753128555176336, 'oth_ratio': 0.0005455537370430987, 'tot_ratio': 0.0002828854314002829, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201311900', 'res_ratio': 0.00028363430084144843, 'bus_ratio': 0.0005688282138794084, 'oth_ratio': 0, 'tot_ratio': 0.0002828854314002829, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201310200', 'res_ratio': 9.454476694714947e-05, 'bus_ratio': 0, 'oth_ratio': 0, 'tot_ratio': 8.082440897150939e-05, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201411902', 'res_ratio': 0, 'bus_ratio': 0.0005688282138794084, 'oth_ratio': 0, 'tot_ratio': 4.0412204485754696e-05, 'city': 'HOUSTON', 'state': 'TX'}
{'zip': '77004', 'geoid': '48201313101', 'res_ratio': 0, 'bus_ratio': 0.0005688282138794084, 'oth_ratio': 0, 'tot_ratio': 4.0412204485754696e-05, 'city': 'HOUSTON', 'state': 'TX'}

In [202]:
REQUEST_PATHS = [BASE_URL_PATH + "?" + ZIP_TO_TRACT_TYPE + "&query=", BASE_URL_PATH + "?" + TRACT_TO_ZIP_TYPE + "&query="]
REQUEST_TYPES = ["ztot", "ttoz"] # "zip to tract" (0), and "tract to zip" (1)

# payload = {}
HEADER = {'Authorization' : "Bearer " + USPS_TOKEN}

# returns a Zip to tract request path given the current zipcode
def get_query_string(input_zipcode, type):
    if type is None: 
        print("get_query_string(); Type cannot be None. Returning None.")
        return None

    index = 0
    while (index < len(REQUEST_TYPES) and type != REQUEST_TYPES[index]):
        index += 1

    return REQUEST_PATHS[index] + str(input_zipcode)

def attempt_request(HTTPS_CONN, qs, total_attempts = 1):
    attempts = 0
    success = False
    while attempts < total_attempts and not success:
        try:
            HTTPS_CONN.request("GET", qs, payload, HEADER)
            response = HTTPS_CONN.getresponse()
            response_decode = response.read().decode("utf-8")
            response_json = json.loads(response_decode)
            json_results = response_json["data"]["results"]
            return json_results
        except (json.decoder.JSONDecodeError):
            print(f"JSONDecodeError {attempts + 1}")
            attempts += 1
    return None

# Extract the JSON file associated with the current zipcode from the USPS crosswalk API
def get_zip_json(HTTPS_CONN, zip):
    payload = {}

    # Making the request and extracting the json
    qs = get_query_string(zip, type="ztot")
    print(qs)
    return attempt_request(HTTPS_CONN, qs, 5)

# Extract data from the relevant columns from the geoids that map with the zipcode
def make_zip_row(zip_json, geoid_df, columns_to_extract):
    buffer = np.array([0] * len(columns_to_extract))
    print(f"Number of tracts: {len(zip_json)}")
    for tract in zip_json:
        GEO_ID = tract["geoid"]
        RES_RATIO = tract["res_ratio"]

        geoid_row = geoid_df.loc[geoid_df["GEO_ID"] == GEO_ID][columns_to_extract]
        try:
            geoid_row = geoid_row.values[0].astype(float)
        except (IndexError):
            print("IndexError? has occured")
            print(f"GEOID: {GEO_ID}")
            print(geoid_row)
        buffer = np.add(buffer, np.multiply(RES_RATIO, geoid_row))
    return buffer

# extract the specified columns in columns_to_extract from a given dataframe with a GEOID column
def make_zip_columns(zip_series, geoid_df, columns_to_extract):
    if geoid_df is None: 
        print("make_zip_columns(); function arguments cannot be None. Returning None.")
        return None
    
    CONN = http.client.HTTPSConnection(BASE_URL_DOMAIN)
    out_columns = [] * len(zip_series)
    
    for count, zip in enumerate(zip_series):
        print(count)
        zip_json = get_zip_json(CONN, zip)
        out = make_zip_row(zip_json, geoid_df, columns_to_extract)
        out_columns.append(out)

    # Make the request and retrieve the json file
    # Iterate through the 'results' section and get each geoid
    # Use our geoid_dif and locate that geoid's row
    # extract the necessary information from that row and partition it based on the residential ratio
    
    CONN.close()
    return out_columns

GEO_ID_COLUMNS_TO_EXTRACT = coa_dataset.columns[1:]
new_zip_columns = make_zip_columns(ww_data["Zipcode"], coa_dataset, GEO_ID_COLUMNS_TO_EXTRACT)
new_zip_cols_df = pd.DataFrame(new_zip_columns, columns=GEO_ID_COLUMNS_TO_EXTRACT)
zip_complete = pd.concat([ww_data, new_zip_cols_df], axis=1)

/hudapi/public/usps?type=1&query=77004
Number of tracts: 20
/hudapi/public/usps?type=1&query=77005
JSONDecodeError 1
Number of tracts: 13
/hudapi/public/usps?type=1&query=77006
Number of tracts: 17
/hudapi/public/usps?type=1&query=77007
Number of tracts: 17
/hudapi/public/usps?type=1&query=77008
Number of tracts: 16
/hudapi/public/usps?type=1&query=77009
Number of tracts: 12
/hudapi/public/usps?type=1&query=77010
Number of tracts: 1
/hudapi/public/usps?type=1&query=77011
Number of tracts: 7
/hudapi/public/usps?type=1&query=77012
Number of tracts: 7
/hudapi/public/usps?type=1&query=77013
Number of tracts: 5
/hudapi/public/usps?type=1&query=77014
Number of tracts: 10
/hudapi/public/usps?type=1&query=77015
Number of tracts: 19
/hudapi/public/usps?type=1&query=77016
Number of tracts: 12
/hudapi/public/usps?type=1&query=77017
Number of tracts: 18
/hudapi/public/usps?type=1&query=77018
Number of tracts: 14
/hudapi/public/usps?type=1&query=77019
Number of tracts: 11
/hudapi/public/usps?type=1&query=77020
Number of tracts: 12
/hudapi/public/usps?type=1&query=77021
Number of tracts: 13
/hudapi/public/usps?type=1&query=77022
Number of tracts: 15
/hudapi/public/usps?type=1&query=77023
Number of tracts: 8
/hudapi/public/usps?type=1&query=77024
Number of tracts: 18
/hudapi/public/usps?type=1&query=77025
Number of tracts: 17
/hudapi/public/usps?type=1&query=77026
Number of tracts: 11
/hudapi/public/usps?type=1&query=77027
Number of tracts: 13
/hudapi/public/usps?type=1&query=77028
Number of tracts: 9
/hudapi/public/usps?type=1&query=77029
Number of tracts: 15
/hudapi/public/usps?type=1&query=77030
Number of tracts: 10
/hudapi/public/usps?type=1&query=77031
Number of tracts: 12
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77032
Number of tracts: 9
/hudapi/public/usps?type=1&query=77033
Number of tracts: 9
/hudapi/public/usps?type=1&query=77034
Number of tracts: 22
/hudapi/public/usps?type=1&query=77035
Number of tracts: 21
/hudapi/public/usps?type=1&query=77036
Number of tracts: 24
/hudapi/public/usps?type=1&query=77037
Number of tracts: 12
/hudapi/public/usps?type=1&query=77038
Number of tracts: 15
/hudapi/public/usps?type=1&query=77039
Number of tracts: 7
/hudapi/public/usps?type=1&query=77040
Number of tracts: 19
/hudapi/public/usps?type=1&query=77041
Number of tracts: 9
/hudapi/public/usps?type=1&query=77042
Number of tracts: 20
/hudapi/public/usps?type=1&query=77043
Number of tracts: 8
/hudapi/public/usps?type=1&query=77045
Number of tracts: 11
/hudapi/public/usps?type=1&query=77046
Number of tracts: 3
/hudapi/public/usps?type=1&query=77047
JSONDecodeError 1
Number of tracts: 9
/hudapi/public/usps?type=1&query=77048
Number of tracts: 6
/hudapi/public/usps?type=1&query=77049
Number of tracts: 14
/hudapi/public/usps?type=1&query=77050
JSONDecodeError 1
Number of tracts: 4
/hudapi/public/usps?type=1&query=77051
Number of tracts: 11
/hudapi/public/usps?type=1&query=77053
Number of tracts: 13
IndexError? has occured
GEOID: 48157670101
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670201
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77054
Number of tracts: 12
/hudapi/public/usps?type=1&query=77055
Number of tracts: 22
/hudapi/public/usps?type=1&query=77056
Number of tracts: 14
/hudapi/public/usps?type=1&query=77057
Number of tracts: 24
/hudapi/public/usps?type=1&query=77059
Number of tracts: 4
/hudapi/public/usps?type=1&query=77060
Number of tracts: 18
/hudapi/public/usps?type=1&query=77061
Number of tracts: 11
/hudapi/public/usps?type=1&query=77062
Number of tracts: 9
/hudapi/public/usps?type=1&query=77063
Number of tracts: 18
/hudapi/public/usps?type=1&query=77064
Number of tracts: 18
/hudapi/public/usps?type=1&query=77067
Number of tracts: 15
/hudapi/public/usps?type=1&query=77070
Number of tracts: 24
/hudapi/public/usps?type=1&query=77071
Number of tracts: 11
/hudapi/public/usps?type=1&query=77072
Number of tracts: 21
/hudapi/public/usps?type=1&query=77074
Number of tracts: 26
/hudapi/public/usps?type=1&query=77075
Number of tracts: 13
/hudapi/public/usps?type=1&query=77076
Number of tracts: 10
/hudapi/public/usps?type=1&query=77077
Number of tracts: 25
/hudapi/public/usps?type=1&query=77078
Number of tracts: 4
/hudapi/public/usps?type=1&query=77079
Number of tracts: 12
/hudapi/public/usps?type=1&query=77080
Number of tracts: 17
/hudapi/public/usps?type=1&query=77081
Number of tracts: 21
/hudapi/public/usps?type=1&query=77082
Number of tracts: 23
IndexError? has occured
GEOID: 48157673007
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77083
Number of tracts: 22
IndexError? has occured
GEOID: 48157672500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672701
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672703
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672904
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77084
Number of tracts: 31
/hudapi/public/usps?type=1&query=77085
Number of tracts: 7
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670400
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77087
Number of tracts: 12
/hudapi/public/usps?type=1&query=77088
Number of tracts: 15
/hudapi/public/usps?type=1&query=77089
Number of tracts: 12
/hudapi/public/usps?type=1&query=77090
Number of tracts: 19
/hudapi/public/usps?type=1&query=77091
Number of tracts: 19
/hudapi/public/usps?type=1&query=77092
Number of tracts: 14
/hudapi/public/usps?type=1&query=77093
Number of tracts: 18
/hudapi/public/usps?type=1&query=77094
Number of tracts: 7
/hudapi/public/usps?type=1&query=77096
Number of tracts: 19
/hudapi/public/usps?type=1&query=77098
Number of tracts: 13
/hudapi/public/usps?type=1&query=77099
Number of tracts: 20
IndexError? has occured
GEOID: 48157672004
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671900
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77336
Number of tracts: 3
/hudapi/public/usps?type=1&query=77338
Number of tracts: 13
/hudapi/public/usps?type=1&query=77339
Number of tracts: 10
IndexError? has occured
GEOID: 48339692402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692303
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77345
Number of tracts: 7
/hudapi/public/usps?type=1&query=77346
Number of tracts: 14
/hudapi/public/usps?type=1&query=77365
Number of tracts: 13
IndexError? has occured
GEOID: 48339692604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692304
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692502
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692301
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692303
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692302
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692605
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77396
Number of tracts: 17
/hudapi/public/usps?type=1&query=77401
JSONDecodeError 1
Number of tracts: 7
/hudapi/public/usps?type=1&query=77477
Number of tracts: 15
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672002
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671900
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671200
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672003
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77489
Number of tracts: 16
IndexError? has occured
GEOID: 48157670400
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671200
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671101
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671002
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
/hudapi/public/usps?type=1&query=77502
Number of tracts: 14
/hudapi/public/usps?type=1&query=77504
Number of tracts: 11
/hudapi/public/usps?type=1&query=77532
Number of tracts: 8
/hudapi/public/usps?type=1&query=77598
Number of tracts: 11

In [205]:
print(zip_complete)
zip_complete.head()

    Zipcode  Viral Load  Positivity Rate  Unvaccinated Rate   DP05_0001E  \
14  77004.0        75.0              3.0               40.0  3682.802079
15  77005.0        45.0             29.0               13.0  3292.545281
16  77006.0        50.0             24.0               15.0  3517.706791
17  77007.0       102.0              6.0                9.0   2799.35567
18  77008.0       145.0             32.0               20.0  3286.646648
..      ...         ...              ...                ...          ...
9       NaN         NaN              NaN                NaN  4119.949603
10      NaN         NaN              NaN                NaN  5536.994089
11      NaN         NaN              NaN                NaN  4342.267117
12      NaN         NaN              NaN                NaN  3762.683348
13      NaN         NaN              NaN                NaN  3758.990269

   S1701_C01_001E
14     3669.86151
15    3278.787072
16    3504.450057
17    2763.361507
18    3265.508672
..            ...
9     3984.732743
10    5499.423644
11    4337.110882
12     3727.83259
13    3751.843093

[113 rows x 6 columns]

,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,DP05_0001E,S1701_C01_001E
14,77004.0,75.0,3.0,40.0,3682.802079,3669.86151
15,77005.0,45.0,29.0,13.0,3292.545281,3278.787072
16,77006.0,50.0,24.0,15.0,3517.706791,3504.450057
17,77007.0,102.0,6.0,9.0,2799.35567,2763.361507
18,77008.0,145.0,32.0,20.0,3286.646648,3265.508672

In [207]:
print(zip_complete.shape)
print(ww_data.shape)

print(len(ww_data["Zipcode"]))

(113, 6)
(99, 4)
99

In [204]:
zip_complete.to_csv("../output/Zip_Key_Demographic_Data_2022.csv", encoding="utf-8")