In [50]:
import numpy as np
import pandas as pd

# Getting the data
pop_census= pd.read_csv("../datasets/US_Census_Population_2022.csv")
pop_census = pop_census.iloc[2:]
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,1400000US48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,1400000US48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,1400000US48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,1400000US48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,1400000US48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [51]:
def clear_geoid_metadata(census_data):
    return census_data.GEO_ID.map(lambda id : id[9:])

In [52]:
# Getting rid of metadata in front of the 11-digit GEOID
parsed_geoids = clear_geoid_metadata(pop_census)
print(parsed_geoids)

2       48201100001
3       48201210400
4       48201210500
5       48201210600
6       48201210700
           ...
1112    48201980100
1113    48201980200
1114    48201980300
1115    48201980400
1116    48201980700
Name: GEO_ID, Length: 1115, dtype: object

In [53]:
# Update Dataframe
pop_census.GEO_ID = parsed_geoids
pop_census.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0087PM,DP05_0088PE,DP05_0088PM,DP05_0089PE,DP05_0089PM,DP05_0090PE,DP05_0090PM,DP05_0091PE,DP05_0091PM,Unnamed: 366
2,48201100001,Census Tract 1000.01; Harris County; Texas,5256,526,3488,396,1768,355,197.3,46.1,...,1.5,(X),(X),4460,(X),66.4,5.8,33.6,5.8,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,1976,364,2007,488,98.5,24.3,...,2.2,(X),(X),2641,(X),54.9,6.9,45.1,6.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4711,670,2483,445,2228,344,111.4,20.0,...,1.1,(X),(X),3007,(X),51.4,6.3,48.6,6.3,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,3250,1022,2571,622,126.4,31.9,...,4.8,(X),(X),3929,(X),53.6,6.6,46.4,6.6,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2534,475,1337,299,1197,242,111.7,23.3,...,3.5,(X),(X),1714,(X),55.7,5.4,44.3,5.4,NaN

In [62]:
# Relevant Population Columns : TOTAL POPULATION
POPULATION_COLUMNS = ["DP05_0001E"]
id_and_pop = pop_census[["GEO_ID"] + POPULATION_COLUMNS]
id_and_pop.head()

        GEO_ID DP05_0001E
2  48201100001       5256
3  48201210400       3983
4  48201210500       4711
5  48201210600       5821
6  48201210700       2534

In [55]:
# getting the poverty data
pov_census = pd.read_csv("../datasets/US_Census_Poverty_2022.csv")
pov_census = pov_census.iloc[2:]
pov_census.GEO_ID = clear_geoid_metadata(pov_census)
pov_census.head()

,GEO_ID,NAME,S1701_C01_001E,S1701_C01_001M,S1701_C01_002E,S1701_C01_002M,S1701_C01_003E,S1701_C01_003M,S1701_C01_004E,S1701_C01_004M,...,S1701_C03_058M,S1701_C03_059E,S1701_C03_059M,S1701_C03_060E,S1701_C03_060M,S1701_C03_061E,S1701_C03_061M,S1701_C03_062E,S1701_C03_062M,Unnamed: 374
2,48201100001,Census Tract 1000.01; Harris County; Texas,4425,527,53,49,18,28,35,42,...,(X),4.9,5.4,33.8,24.3,81.8,12.7,7.8,4.1,NaN
3,48201210400,Census Tract 2104; Harris County; Texas,3983,719,840,434,100,89,740,386,...,(X),0.0,11.5,50.8,24.6,84.9,14.7,18.7,10.9,NaN
4,48201210500,Census Tract 2105; Harris County; Texas,4692,666,982,367,318,160,664,282,...,(X),0.0,16.1,23.1,30.9,85.7,9.5,22.1,9.0,NaN
5,48201210600,Census Tract 2106; Harris County; Texas,5821,1491,1488,554,379,315,1109,499,...,(X),6.1,10.0,0.0,31.4,39.0,30.2,4.2,2.4,NaN
6,48201210700,Census Tract 2107; Harris County; Texas,2522,476,538,202,15,18,523,203,...,(X),0.0,19.9,24.6,35.7,74.1,24.5,19.4,8.1,NaN

In [59]:
POVERTY_COLUMNS = ["S1701_C01_001E"]
pov_frame = pd.DataFrame(pov_census[POVERTY_COLUMNS], columns=POVERTY_COLUMNS)
coa_dataset = pd.concat([id_and_pop, pov_frame], axis=1)
coa_dataset.head()

        GEO_ID DP05_0001E S1701_C01_001E
2  48201100001       5256           4425
3  48201210400       3983           3983
4  48201210500       4711           4692
5  48201210600       5821           5821
6  48201210700       2534           2522

In [214]:
# Getting our zipcode & wastewater data
wastewater_data = pd.read_csv("../datasets/UGS_Houston_Wastewater_Data.csv")
wastewater_data.head()

,Date,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX)
0,07/06/2020-07/13/2023,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/06/2020-07/13/2024,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,07/06/2020-07/13/2025,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,07/06/2020-07/13/2026,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,07/06/2020-07/13/2027,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [215]:
FIRST_ZIP_ROW = 0
ww_data = wastewater_data.iloc[FIRST_ZIP_ROW:, 0:]
ww_data["Zipcode"] = ww_data["Zipcode"].astype(int)
ww_data.head()

,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX)
0,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
import json

# Extracting relevant data from json file
COLLECTIONS_FILE_PATH = "../collections.json"
collections_obj = None
with open(COLLECTIONS_FILE_PATH, 'r') as myfile:
    collections_obj = json.loads(myfile.read())

# JSON Data
USPS_TOKEN = collections_obj["token"]
BASE_URL = collections_obj["base-url"]
BASE_URL_DOMAIN = BASE_URL[8:23]
BASE_URL_PATH = BASE_URL[23:]
ZIP_TO_TRACT_TYPE = collections_obj["zip-to-tract-type"]
TRACT_TO_ZIP_TYPE = collections_obj["tract-to-zip-type"]

In [222]:
import http.client

In [223]:
REQUEST_PATHS = [BASE_URL_PATH + "?" + ZIP_TO_TRACT_TYPE + "&query=", BASE_URL_PATH + "?" + TRACT_TO_ZIP_TYPE + "&query="]
REQUEST_TYPES = ["ztot", "ttoz"] # "zip to tract" (0), and "tract to zip" (1)

# payload = {}
HEADER = {'Authorization' : "Bearer " + USPS_TOKEN}

# returns a Zip to tract request path given the current zipcode
def get_query_string(input_zipcode, type):
    if type is None: 
        print("get_query_string(); Type cannot be None. Returning None.")
        return None

    index = 0
    while (index < len(REQUEST_TYPES) and type != REQUEST_TYPES[index]):
        index += 1

    return REQUEST_PATHS[index] + str(input_zipcode)

def attempt_request(HTTPS_CONN, qs, total_attempts = 1):
    attempts = 0
    success = False
    payload = {}
    while attempts < total_attempts and not success:
        try:
            HTTPS_CONN.request("GET", qs, payload, HEADER)
            response = HTTPS_CONN.getresponse()
            response_decode = response.read().decode("utf-8")
            response_json = json.loads(response_decode)
            json_results = response_json["data"]["results"]
            return json_results
        except (json.decoder.JSONDecodeError):
            print(f"JSONDecodeError {attempts + 1}")
            attempts += 1
    return None

# Extract the JSON file associated with the current zipcode from the USPS crosswalk API
def get_zip_json(HTTPS_CONN, zip):
    payload = {}

    # Making the request and extracting the json
    qs = get_query_string(zip, type="ztot")
    print(qs)
    return attempt_request(HTTPS_CONN, qs, 5)

# Extract data from the relevant columns from the geoids that map with the zipcode
def make_zip_row(zip_json, geoid_df, columns_to_extract):
    buffer = np.array([0] * len(columns_to_extract))
    print(f"Number of tracts: {len(zip_json)}")
    for tract in zip_json:
        GEO_ID = tract["geoid"]
        RES_RATIO = tract["res_ratio"]

        geoid_row = geoid_df.loc[geoid_df["GEO_ID"] == GEO_ID][columns_to_extract]
        try:
            geoid_row = geoid_row.values[0].astype(float)
            buffer = np.add(buffer, np.multiply(RES_RATIO, geoid_row))
        except (IndexError):
            print("IndexError? has occured")
            print(f"GEOID: {GEO_ID}")
            print(geoid_row)
    return buffer

# extract the specified columns in columns_to_extract from a given dataframe with a GEOID column
def make_zip_columns(zip_series, geoid_df, columns_to_extract):
    if geoid_df is None: 
        print("make_zip_columns(); function arguments cannot be None. Returning None.")
        return None
    
    CONN = http.client.HTTPSConnection(BASE_URL_DOMAIN)
    out_columns = [] * len(zip_series)
    
    for count, zip in enumerate(zip_series):
        print(count)
        zip_json = get_zip_json(CONN, zip)
        out = make_zip_row(zip_json, geoid_df, columns_to_extract)
        out_columns.append(out)

    # Make the request and retrieve the json file
    # Iterate through the 'results' section and get each geoid
    # Use our geoid_dif and locate that geoid's row
    # extract the necessary information from that row and partition it based on the residential ratio
    
    CONN.close()
    return out_columns

GEO_ID_COLUMNS_TO_EXTRACT = coa_dataset.columns[1:]
new_zip_columns = make_zip_columns(ww_data["Zipcode"], coa_dataset, GEO_ID_COLUMNS_TO_EXTRACT)
new_zip_cols_df = pd.DataFrame(new_zip_columns, columns=GEO_ID_COLUMNS_TO_EXTRACT)
zip_complete = pd.concat([ww_data, new_zip_cols_df], axis=1)

0
/hudapi/public/usps?type=1&query=77002
Number of tracts: 20
1
/hudapi/public/usps?type=1&query=77003
Number of tracts: 8
2
/hudapi/public/usps?type=1&query=77004
Number of tracts: 20
3
/hudapi/public/usps?type=1&query=77005
JSONDecodeError 1
Number of tracts: 13
4
/hudapi/public/usps?type=1&query=77006
Number of tracts: 17
5
/hudapi/public/usps?type=1&query=77007
Number of tracts: 17
6
/hudapi/public/usps?type=1&query=77008
Number of tracts: 16
7
/hudapi/public/usps?type=1&query=77009
Number of tracts: 12
8
/hudapi/public/usps?type=1&query=77010
Number of tracts: 1
9
/hudapi/public/usps?type=1&query=77011
Number of tracts: 7
10
/hudapi/public/usps?type=1&query=77012
Number of tracts: 7
11
/hudapi/public/usps?type=1&query=77013
Number of tracts: 5
12
/hudapi/public/usps?type=1&query=77014
Number of tracts: 10
13
/hudapi/public/usps?type=1&query=77015
Number of tracts: 19
14
/hudapi/public/usps?type=1&query=77016
Number of tracts: 12
15
/hudapi/public/usps?type=1&query=77017
Number of tracts: 18
16
/hudapi/public/usps?type=1&query=77018
Number of tracts: 14
17
/hudapi/public/usps?type=1&query=77019
Number of tracts: 11
18
/hudapi/public/usps?type=1&query=77020
Number of tracts: 12
19
/hudapi/public/usps?type=1&query=77021
Number of tracts: 13
20
/hudapi/public/usps?type=1&query=77022
Number of tracts: 15
21
/hudapi/public/usps?type=1&query=77023
Number of tracts: 8
22
/hudapi/public/usps?type=1&query=77024
Number of tracts: 18
23
/hudapi/public/usps?type=1&query=77025
Number of tracts: 17
24
/hudapi/public/usps?type=1&query=77026
Number of tracts: 11
25
/hudapi/public/usps?type=1&query=77027
JSONDecodeError 1
Number of tracts: 13
26
/hudapi/public/usps?type=1&query=77028
JSONDecodeError 1
Number of tracts: 9
27
/hudapi/public/usps?type=1&query=77029
Number of tracts: 15
28
/hudapi/public/usps?type=1&query=77030
Number of tracts: 10
29
/hudapi/public/usps?type=1&query=77031
Number of tracts: 12
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
30
/hudapi/public/usps?type=1&query=77032
Number of tracts: 9
31
/hudapi/public/usps?type=1&query=77033
Number of tracts: 9
32
/hudapi/public/usps?type=1&query=77034
Number of tracts: 22
33
/hudapi/public/usps?type=1&query=77035
Number of tracts: 21
34
/hudapi/public/usps?type=1&query=77036
Number of tracts: 24
35
/hudapi/public/usps?type=1&query=77037
Number of tracts: 12
36
/hudapi/public/usps?type=1&query=77038
JSONDecodeError 1
JSONDecodeError 2
Number of tracts: 15
37
/hudapi/public/usps?type=1&query=77039
Number of tracts: 7
38
/hudapi/public/usps?type=1&query=77040
Number of tracts: 19
39
/hudapi/public/usps?type=1&query=77041
JSONDecodeError 1
Number of tracts: 9
40
/hudapi/public/usps?type=1&query=77042
Number of tracts: 20
41
/hudapi/public/usps?type=1&query=77043
JSONDecodeError 1
Number of tracts: 8
42
/hudapi/public/usps?type=1&query=77045
Number of tracts: 11
43
/hudapi/public/usps?type=1&query=77046
Number of tracts: 3
44
/hudapi/public/usps?type=1&query=77047
JSONDecodeError 1
Number of tracts: 9
45
/hudapi/public/usps?type=1&query=77048
Number of tracts: 6
46
/hudapi/public/usps?type=1&query=77049
Number of tracts: 14
47
/hudapi/public/usps?type=1&query=77050
Number of tracts: 4
48
/hudapi/public/usps?type=1&query=77051
Number of tracts: 11
49
/hudapi/public/usps?type=1&query=77053
Number of tracts: 13
IndexError? has occured
GEOID: 48157670101
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670201
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
50
/hudapi/public/usps?type=1&query=77054
JSONDecodeError 1
Number of tracts: 12
51
/hudapi/public/usps?type=1&query=77055
Number of tracts: 22
52
/hudapi/public/usps?type=1&query=77056
Number of tracts: 14
53
/hudapi/public/usps?type=1&query=77057
Number of tracts: 24
54
/hudapi/public/usps?type=1&query=77059
Number of tracts: 4
55
/hudapi/public/usps?type=1&query=77060
Number of tracts: 18
56
/hudapi/public/usps?type=1&query=77061
Number of tracts: 11
57
/hudapi/public/usps?type=1&query=77062
Number of tracts: 9
58
/hudapi/public/usps?type=1&query=77063
Number of tracts: 18
59
/hudapi/public/usps?type=1&query=77064
Number of tracts: 18
60
/hudapi/public/usps?type=1&query=77067
Number of tracts: 15
61
/hudapi/public/usps?type=1&query=77070
Number of tracts: 24
62
/hudapi/public/usps?type=1&query=77071
Number of tracts: 11
63
/hudapi/public/usps?type=1&query=77072
Number of tracts: 21
64
/hudapi/public/usps?type=1&query=77074
Number of tracts: 26
65
/hudapi/public/usps?type=1&query=77075
Number of tracts: 13
66
/hudapi/public/usps?type=1&query=77076
Number of tracts: 10
67
/hudapi/public/usps?type=1&query=77077
Number of tracts: 25
68
/hudapi/public/usps?type=1&query=77078
Number of tracts: 4
69
/hudapi/public/usps?type=1&query=77079
Number of tracts: 12
70
/hudapi/public/usps?type=1&query=77080
Number of tracts: 17
71
/hudapi/public/usps?type=1&query=77081
Number of tracts: 21
72
/hudapi/public/usps?type=1&query=77082
Number of tracts: 23
IndexError? has occured
GEOID: 48157673007
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
73
/hudapi/public/usps?type=1&query=77083
Number of tracts: 22
IndexError? has occured
GEOID: 48157672500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672701
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672703
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672904
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
74
/hudapi/public/usps?type=1&query=77084
JSONDecodeError 1
Number of tracts: 31
75
/hudapi/public/usps?type=1&query=77085
JSONDecodeError 1
Number of tracts: 7
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670400
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
76
/hudapi/public/usps?type=1&query=77087
Number of tracts: 12
77
/hudapi/public/usps?type=1&query=77088
Number of tracts: 15
78
/hudapi/public/usps?type=1&query=77089
Number of tracts: 12
79
/hudapi/public/usps?type=1&query=77090
Number of tracts: 19
80
/hudapi/public/usps?type=1&query=77091
Number of tracts: 19
81
/hudapi/public/usps?type=1&query=77092
Number of tracts: 14
82
/hudapi/public/usps?type=1&query=77093
Number of tracts: 18
83
/hudapi/public/usps?type=1&query=77094
Number of tracts: 7
84
/hudapi/public/usps?type=1&query=77096
JSONDecodeError 1
Number of tracts: 19
85
/hudapi/public/usps?type=1&query=77098
Number of tracts: 13
86
/hudapi/public/usps?type=1&query=77099
Number of tracts: 20
IndexError? has occured
GEOID: 48157672004
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671900
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
87
/hudapi/public/usps?type=1&query=77336
Number of tracts: 3
88
/hudapi/public/usps?type=1&query=77338
Number of tracts: 13
89
/hudapi/public/usps?type=1&query=77339
Number of tracts: 10
IndexError? has occured
GEOID: 48339692402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692303
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
90
/hudapi/public/usps?type=1&query=77345
Number of tracts: 7
91
/hudapi/public/usps?type=1&query=77346
Number of tracts: 14
92
/hudapi/public/usps?type=1&query=77365
Number of tracts: 13
IndexError? has occured
GEOID: 48339692604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692304
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692502
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692301
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692303
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692302
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692605
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48339692202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
93
/hudapi/public/usps?type=1&query=77396
Number of tracts: 17
94
/hudapi/public/usps?type=1&query=77401
Number of tracts: 7
95
/hudapi/public/usps?type=1&query=77477
Number of tracts: 15
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672002
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671402
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671900
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671200
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671401
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157672003
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
96
/hudapi/public/usps?type=1&query=77489
Number of tracts: 16
IndexError? has occured
GEOID: 48157670400
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670500
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670603
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670604
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671200
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671101
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671002
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670602
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670700
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157670202
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671102
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671800
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
IndexError? has occured
GEOID: 48157671300
Empty DataFrame
Columns: [DP05_0001E, S1701_C01_001E]
Index: []
97
/hudapi/public/usps?type=1&query=77502
JSONDecodeError 1
Number of tracts: 14
98
/hudapi/public/usps?type=1&query=77504
Number of tracts: 11
99
/hudapi/public/usps?type=1&query=77532
Number of tracts: 8
100
/hudapi/public/usps?type=1&query=77598
Number of tracts: 11

In [218]:
print(zip_complete)
zip_complete.head()

     Zipcode  Viral Load  Positivity Rate  Unvaccinated Rate  Population  \
0      77002         136               16                 13         NaN
1      77003         112                6                 18         NaN
2      77004          75                3                 40         NaN
3      77005          45               29                 13         NaN
4      77006          50               24                 15         NaN
..       ...         ...              ...                ...         ...
96     77489         110                5                 97         NaN
97     77502          83               28                 40         NaN
98     77504          28                0                 47         NaN
99     77532         557                8                 46         NaN
100    77598          69                0                 48         NaN

     Educational attainment   Poverty  Poverty in Texas  Income  \
0                        NaN      NaN               NaN     NaN
1                        NaN      NaN               NaN     NaN
2                        NaN      NaN               NaN     NaN
3                        NaN      NaN               NaN     NaN
4                        NaN      NaN               NaN     NaN
..                       ...      ...               ...     ...
96                       NaN      NaN               NaN     NaN
97                       NaN      NaN               NaN     NaN
98                       NaN      NaN               NaN     NaN
99                       NaN      NaN               NaN     NaN
100                      NaN      NaN               NaN     NaN

     Health(lack of health insurance)  Health(lack of Health insurance in TX)  \
0                                 NaN                                     NaN
1                                 NaN                                     NaN
2                                 NaN                                     NaN
3                                 NaN                                     NaN
4                                 NaN                                     NaN
..                                ...                                     ...
96                                NaN                                     NaN
97                                NaN                                     NaN
98                                NaN                                     NaN
99                                NaN                                     NaN
100                               NaN                                     NaN

      DP05_0001E  S1701_C01_001E
0    3879.300016     3397.892570
1    2727.913793     2711.033166
2    2704.055687     2400.136003
3    4271.452772     4237.868637
4    2564.726908     2517.532173
..           ...             ...
96    133.700261      133.700261
97   5688.639655     5675.943634
98   4480.468530     4395.944578
99   6098.950052     6093.341765
100  3756.670618     3714.095426

[101 rows x 13 columns]

,Zipcode,Viral Load,Positivity Rate,Unvaccinated Rate,Population,Educational attainment,Poverty,Poverty in Texas,Income,Health(lack of health insurance),Health(lack of Health insurance in TX),DP05_0001E,S1701_C01_001E
0,77002,136,16,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3879.300016,3397.892570
1,77003,112,6,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2727.913793,2711.033166
2,77004,75,3,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704.055687,2400.136003
3,77005,45,29,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4271.452772,4237.868637
4,77006,50,24,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2564.726908,2517.532173

In [219]:
print(zip_complete.shape)
print(ww_data.shape)

print(len(ww_data["Zipcode"]))

(101, 13)
(101, 11)
101

In [220]:
zip_complete.to_csv("../output/Zip_Key_Demographic_Data_2022.csv", encoding="utf-8")